#coverflow {
	max-width: 970px;
	height: 300px;
	position: relative;
	margin: 60px auto 0 auto;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overflow: hidden;
}

body{
	background: #B2BABB;
}
.covers {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
	position: absolute;
}

#coverflow ul {
	top: 50px;
	width: 5000px;
	margin: 0;
	padding: 0;
	position: absolute;
	-webkit-transition: -webkit-transform 0.5s ease;
	transition: transform 0.5s ease;
	-webkit-transform: translate3d(-16px, 0, 0);
	transform: translate3d(-16px, 0, 0);
}

#coverflow li {
	width: 94px;
	list-style: none;
	float: left;
	-webkit-transition: margin 0.5s ease, -webkit-transform 0.5s ease;
	transition: margin 0.5s ease, transform 0.5s ease;
	position: relative;
	pointer-events: none;
	}

#coverflow .imgdiv {
	width: 250px;
	-webkit-transition: -webkit-transform 0.5s ease;
	transition: transform 0.5s ease;
	pointer-events: auto;
	position: relative;
	display: block;
	box-shadow: 30px 5px 15px -10px rgba(0,0,0,0.15), -30px 5px 15px -10px rgba(0,0,0,0.15);
}

#coverflow .imgdiv img {
	width: 250px;
	display: block;
}

#coverflow .refl {
	display: none;
}

#coverflow .text {
	position: absolute;
	bottom: -50px;
	top: 184px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
	opacity: 0;
	visibility: hidden;
	pointer-events: auto;
	background: rgba(0, 0, 0, 0.298039);
	width: 375px;
	margin-left: -62.5px;
	color: rgb(255, 255, 255);
	font-family: "Lucida Sans Unicode";
	font-size: 18px;
}

#coverflow .text p {
	margin: 5px;
	position: relative;
	text-align: center;
}

li:nth-child(-n+4) .imgdiv,
#coverflow ul li .leftItems {
	-webkit-transform: perspective(650px) rotateY(60deg);
	transform: perspective(650px) rotateY(60deg);
}

li:nth-child(n+6) .imgdiv,
#coverflow ul li .rightItems {
	-webkit-transform: perspective(650px) rotateY(-60deg);
	transform: perspective(650px) rotateY(-60deg);
}

li:nth-child(5) .imgdiv,
#coverflow ul li .straight {
	-webkit-transform: rotateY(0deg) scale(1.5);
	transform: rotateY(0deg) scale(1.5);
}

#coverflow li:nth-child(-n+4),
#coverflow ul li.leftLI {
	-webkit-transform: translate3d(-135px, 0, 0);
	transform: translate3d(-135px, 0, 0);
}

#coverflow li:nth-child(n+6),
#coverflow ul li.rightLI {
	-webkit-transform: translate3d(135px, 0, 0);
	transform: translate3d(135px, 0, 0);
}

#coverflow ul .straightLI {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.notransition {
	-webkit-transition: none !important;
	transition: none !important;
}

#coverflow .imgdiv a,
#coverflow .text {
	cursor: pointer;
	/*grab cursor available for all browsers except IE (we can use external .cur file but uses too much CPU)*/
	cursor: -webkit-grab;
	cursor: grab;
}

#coverflow .Preloader {
	/*none - autoplay:false ; block - autoplay:true*/
	display: none;
}

#coverflow .Lightbox {
	display: block;
}