body {
    font-family: tahoma;
}
body a{
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
}
input[type="button"],input[type="submit"]{
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
    margin:0;              
}   
p{
    margin:0;
}
ul{
    margin:0;
    padding:0;
}
label{
    margin:0;
}

/*-- Fonts --*/
@font-face{
    font-family: 'HoltwoodOneSC';
    src:url(../fuente/HoltwoodOneSC.ttf) format('truetype');
}
@font-face{
    font-family: 'WorkSans-Regular';
    src:url(../fuente/WorkSans-Regular.ttf) format('truetype');
}
/*-- Fonts --*/

/*--- Style ---*/

h1 {
    text-align: center;
    font-family: HoltwoodOneSC;
    margin-top: 100px;
    font-weight: bold;
    color: #34383B;
}

.upload {
    width: 95%;
    margin: 30px auto;
    padding: 15px;
    border: 1px solid #1B242F;
}

h3 {
    margin-bottom: 20px;
    font-weight: bold;
    color: #1B242F;
}

.login-form {
    padding: 10px;
    position: relative;
}

#titulo-left{
    width: 60%;
    float: left;
}

#titulo-right{
    width: 30%;
    float: right;
}

span {
    font-size: 14px;
    color: #1B242F !important;
}

input.title {
    padding: 5px;
    background-color: #F5F5F5;
    border: none;
    margin-left: 80px;
}

input.precio {
    margin-top: 15px;
    margin-left: 20px;
    border: none;
    background-color: #F5F5F5;
    padding: 5px;
}
textarea.describe{
    width: 98.7%;
    border: none;
    background-color: #F5F5F5;
    padding: 5px;

    color: #1D1B1B;
    margin: 15px 0;
    outline: none;
    font-family: WorkSans-Regular;
    font-size: 0.875em;
    letter-spacing: 1px;
    background-color: #f1f1f1;
}

#upload ul{
}

#upload ul li{
    padding: 0 0px;
    height: 79px;
    position: relative;
    list-style-type: none;
    clear: both;
    overflow: hidden;
    background-color: #2d3134;
    border: 1px solid #BB2424;
    border-radius: 5px;
    margin-top: 25px;
}

#upload ul li input{
    display: none;
}

#upload ul li p{
    width: 280px;
    overflow: hidden;
    white-space: nowrap;
    color: #F90000;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 70px;
}

#upload ul li i{
    font-weight: normal;
    font-style:normal;
    color:#7f7f7f;
    display:block;
}

#upload ul li canvas{
    top: 15px;
    left: 10px;
    position: absolute;
}

#upload ul li span{
    width: 16px;
    height: 16px;
    background: url("../img/cancel.png");
    position: absolute;
    top: 34px;
    right: 33px;
    cursor:pointer;
}

#upload ul li.working span{
    height: 16px;
    background-position: 0 -12px;
}

#upload ul li.error p{
    color:red;
}


.upload span {
    color: #F1F1F1;
    text-transform: uppercase;
    font-size: 1.1em;
    display: block;
    letter-spacing: 2px;
}
.upload input[type="text"] {
    width: 96%;
    padding: 10px;
    color: #1D1B1B;
    margin: 15px 0;
    outline: none;
    font-family: WorkSans-Regular;
    font-size: 0.875em;
    letter-spacing: 1px;
    border: none;
    background-color: #f1f1f1;
}
.login-form input[type="submit"] {
    background-color: #cbb25c;
    color: #fff;
    font-size: 1.15em;
    padding: 5px 35px;
    letter-spacing: 2px;
    outline: none;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0.5em;
    border: none;
}
.login-form input[type="submit"]:hover {
    background-color: #5f8b9e;
}
.login-form a {
    color: #898989;
    font-size: 0.875em;
    letter-spacing: 2px;
    font-style: italic;
}
.checkbox {
    margin-bottom: 4px;
    padding-left: 27px;
    line-height: 27px;
    cursor: pointer;
    position: relative;
    font-size: 1em;
    color: #2d2d2d;
}
.checkbox i {
    position: absolute;
    bottom: 5px;
    left: 0;
    display: block;
    width: 20px;
    height: 20px;
    outline: none;
    border: 2px solid #5f8b9e;
}
.checkbox input:checked + i:after {
    opacity: 1;
}
.checkbox input + i:after {
    position: absolute;
    opacity: 0;
    transition: opacity 0.1s;
    -o-transition: opacity 0.1s;
    -ms-transition: opacity 0.1s;
    -moz-transition: opacity 0.1s;
    -webkit-transition: opacity 0.1s;
}
.checkbox input + i:after {
    content: '';
    /*background: url("../img/cancel.png") no-repeat 1px 2px;*/
    top: -1px;
    left: -1px;
    width: 15px;
    height: 15px;
    font: normal 12px/16px FontAwesome;
    text-align: center;
}
.checkbox input {
    position: absolute;
    left: -9999px;
}

.footer {
    text-align: center;
    margin-top: 200px;
}
.footer p {
    color: #34383b;
}
.footer a {
    color: #34383b;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}
.button {
    display: inline-block;
    width: 60%;
}
.cancel {
    float: left;
    min-width: 25%;
}
.cancel a {
    background: #DC5151;
    color: #FFF;
    color: #FFF;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;

    padding: 10px 15px 10px 15px;
    display: inline-block;

    text-align: center;
    margin-top: 10px;
    letter-spacing: 2px;
    min-width: 25%;
}
.cancel a:hover {
    background-color: #F33737;
}
.done {
    float: right;
    min-width: 25%;
}
.done a {
    background: #0259A0;
    color: #FFF;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;

    padding: 10px 15px 10px 15px;
    display: inline-block;

    text-align: center;
    margin-top: 10px;
    letter-spacing: 2px;
    min-width: 25%;
}
.done a:hover {
    background-color: #0D9437;
}
#botones {
    width: 100%;
    display: inline-block;
}
#drop {
    float: left;
    display: inline-block;
    width: 40%;
}
#drop a {
    background: #0986A3 url("../img/up.png") no-repeat 10px;
    padding: 10px 15px 10px 30px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 2px;
    margin-top: 10px;
    float: left;
}

#drop a:hover {
    background-color: #e35a44;
}

#drop input{
    display:none;
}

/*--- Style ---*/

/*-- Responsive - Design --*/

@media screen and (max-width: 1920px) {
    h1 {
        font-size: 40px;
    }
    .upload input[type="text"] {
        width: 97%;
    }
}

@media screen and (max-width: 1680px) {
    h1 {
        font-size: 40px;
    }
    .upload input[type="text"] {
        width: 96.5%;
    }
}

@media screen and (max-width: 1600px) {
    h1 {
        font-size: 40px;
    }
    .upload input[type="text"] {
        width: 96%;
    }
}

@media screen and (max-width: 1366px) {
    h1 {
        margin-top: 70px;
        font-size: 40px;
    }
    .upload {
        margin-top: 70px;
    }
    .footer {
        margin-top: 100px;
    }
}

@media screen and (max-width: 1280px) {
    .upload input[type="text"] {
        width: 95%;
    }
    h1 {
        margin-top: 70px;
        font-size: 40px;
    }
    .upload {
        margin-top: 70px;
    }
    .footer {
        margin-top: 100px;
    }
}

@media screen and (max-width: 1200px) {
    h1 {
        font-size: 40px;
    }
    .upload input[type="text"] {
        width: 95%;
    }
}

@media screen and (max-width: 1080px) {
    h1 {
        font-size: 40px;
    }
    .upload input[type="text"] {
        width: 94%;
    }
}

@media screen and (max-width: 1050px) {
    h1 {
        font-size: 40px;
    }
    .upload {
        width: 40%;
    }
    .upload input[type="text"] {
        width: 95%;
    }
}

@media screen and (max-width: 1024px) {
    h1 {
        margin-top: 50px;
        font-size: 40px;
    }
    .upload {
        margin-top: 50px;
    }
    .footer {
        margin-top: 50px;
    }
}

@media screen and (max-width: 966px) {
    .upload input[type="text"] {
        width: 94.5%;
    }
}

@media screen and (max-width: 900px) {
    .upload input[type="text"] {
        width: 94%;
    }
}

@media screen and (max-width: 800px) {
    .upload {
        width: 45%;
    }
    .upload input[type="text"] {
        width: 94%;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        margin-top: 80px;
        font-size: 35px;
    }
    .upload {
        width: 40%;
        margin-top: 80px;
    }
    .upload span {
        font-size: 15px;
        letter-spacing: 0px;
    }
    .upload input[type="text"] {
        width: 93%;
        font-size: 13px;
        letter-spacing: 0px;
    }
    .footer {
        margin-top: 200px;
    }
}

@media screen and (max-width: 736px) {
    h1 {
        margin-top: 40px;
        font-size: 32px;
    }
    .upload {
        width: 60%;
        margin-top: 40px;
    }
    .upload span {
        letter-spacing: 0px;
    }
    .upload input[type="text"] {
        width: 95%;
        letter-spacing: 0px;
    }
    .filecontainer {
        padding: 7px 25px;
    }
    .footer {
        margin: 50px 50px 20px;
    }
    .button .cancel {
        padding: 7px 0px;
    }
    .button .done {
        padding: 7px 0px;
        margin-top: -12px;
    }
}

@media screen and (max-width: 667px) {
    h1 {
        margin-top: 40px;
        font-size: 30px;
    }
    .upload {
        width: 60%;
        margin-top: 40px;
    }
    .upload span {
        letter-spacing: 0px;
    }
    .upload input[type="text"] {
        width: 95%;
        letter-spacing: 0px;
    }
    .filecontainer {
        padding: 7px 25px;
    }
    .footer {
        margin: 50px 50px 20px;
    }
    .button .cancel {
        padding: 7px 0px;
    }
    .button .done {
        padding: 7px 0px;
        margin-top: -12px;
    }
}

@media screen and (max-width: 603px) {
    .upload {
        padding: 15px 15px 20px 15px;
    }
    .upload input[type="text"] {
        width: 94%;
        letter-spacing: 0px;
    }
}

@media screen and (max-width: 600px) {
    .upload {
        padding: 15px;
    }
    .upload input[type="text"] {
        width: 94%;
        letter-spacing: 0px;
    }
}

@media screen and (max-width: 568px) {
    h1 {
        margin-top: 40px;
        font-size: 30px;
    }
    .upload {
        width: 60%;
        margin-top: 40px;
    }
    .upload span {
        letter-spacing: 0px;
    }
    .upload input[type="text"] {
        width: 94%;
        font-size: 13px;
        letter-spacing: 0px;
    }
    .filecontainer {
        padding: 7px 25px;
    }
    .footer {
        margin: 50px 30px 20px;
    }
    .button .cancel {
        padding: 7px 0px;
    }
    .button .done {
        padding: 7px 0px;
        margin-top: -12px;
    }
}

@media screen and (max-width: 414px) {
    h1 {
        margin-top: 50px;
        font-size: 27px;
    }
    .upload {
        width: 85%;
        margin-top: 40px;
    }
    .upload span {
        letter-spacing: 0px;
    }
    .filecontainer {
        padding: 7px 25px;
    }
    .upload input[type="text"] {
        letter-spacing: 0px;
    }
    .footer {
        margin: 50px 10px 20px;
    }
}

@media screen and (max-width: 384px) {
    h1 {
        margin-top: 50px;
        font-size: 25px;
    }
}

@media screen and (max-width: 375px) {
    h1 {
        margin-top: 50px;
        font-size: 24px;
    }
    .upload {
        width: 90%;
    }
    .upload span {
        font-size: 13px;
        letter-spacing: 0px;
    }
    .upload input[type="text"] {
        width: 93%;
        font-size: 12px;
        letter-spacing: 0px;
    }
    .filecontainer {
        padding: 7px 23px;
    }
    .footer p {
        font-size: 14px;
    }
}

@media screen and (max-width: 320px) {
    h1 {
        font-size: 20px;
        margin-top: 30px;
    }
    .upload {
        width: 90%;
        padding: 15px 15px 25px 15px;
        margin-top: 30px;
    }
    .upload span {
        font-size: 15px;
        letter-spacing: 0px;
    }
    .login-form {
        padding: 0px;
    }
    .upload input[type="text"] {
        width: 92%;
        font-size: 12px;
        letter-spacing: 0px;
    }
    .filecontainer {
        padding: 6px 25px;
    }
    .footer {
        margin: 40px 0 20px;
    }
    .footer p {
        font-size: 13px;
    }
    .button .cancel {
        padding: 6px 0px;
    }
    .button .done {
        padding: 6px 0px;
        margin-top: -12px;
    }
}

@media screen and (max-width: 240px) {
    h1 {
        font-size: 15px;
        margin-top: 30px;
    }
    h3 {
        font-size: 14px;
    }
    .upload {
        width: 87%;
        margin-top: 30px;
    }
    .upload span {
        font-size: 12px;
        letter-spacing: 0px;
    }
    .upload input[type="text"] {
        width: 89%;
        font-size: 10px;
        letter-spacing: 0px;
    }
    .filecontainer {
        padding: 6px 20px;
    }
    .footer p {
        font-size: 10px;
    }
    .button .cancel {
        width: 115%;
        padding: 6px 0px;
        margin-left: 10px;
    }
    .button .done {
        width: 115%;
        padding: 6px 0px;
        margin-right: -110px;
    }
}